@charset "UTF-8";
.center {
	position: absolute;
	top: 50%;
	left: 50%;
}

.form-center{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 40vw;
	padding-left: 1%;
	transform: translate(-50%,-50%);
	color: #495057;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	box-sizing: content-box;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}